<!DOCTYPE html>
<html>
  <head>
    <title>Kinesio in</title>
    <link rel='stylesheet' href='/stylesheets/App.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
  </head>
  <body>
     <header style="text-align:center">
            <div class="holder">
                    <h1>Kinesio In</h1>
                </div>
            </div>
        </header>
        {{{body}}}
     <footer>
            <p>Derechos reservados. Kinesio In</p>
        </footer>
  </body>
</html>
