body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.holder {
    width: 960px;
    margin: 0 auto;
}

h2{
    font-weight: 400;
    color: #2e64a1;
    margin:0 0 1em;
}

Footer {
    background: #ccc;
    clear:both;
    color: #333;
    padding: 1em 0;
    margin-top: 2em;
}

Footer p{
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    margin: 0;
}
Header {
    background-color: lightgray;
    padding: 2em;

}

Header h1{
    color: white;
    font-size: 5em;
    font-style: italic;
    font-weight: 100em;
    display: inline-block;
    position:static;
    bottom: 5em;
    margin: 0em;
}

#logo {
    margin-right: 1em;
    padding-left:  1em;
    float: inline-start;
}

nav {
    background-color: #5e98db;
    margin-bottom: 1em;
  }
  
  nav ul{
    list-style: none;
    margin: 0;
    margin-bottom: 0em;
    padding: 0em;
    margin-left: 0em;
  }
  
  nav ul li {
    display:inline-block;
    width: 4% 4%;
    height: 10%;
    padding: 0.7em 3.3em 1em 0.91em;
    margin: 0%;
    margin-right: 0em;
  }
  
  nav ul li a {
    color:white;
    text-align: center;
    padding: 0em 0em;
    display: inline-block;
  }
  
  
  

